<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.movierulz">
        <category label="General">
            <group id="1">
                <setting id="base_url" type="string" label="MovieRulz Domain" default="https://www.5movierulz.school"/>
                <setting id="torrent_player" type="select" label="Torrent Player" values="ResolveURL|Raw Magnet" default="ResolveURL"/>
            </group>
        </category>
    </section>
</settings>
